<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTests"
       parallel="tests" thread-count="3"
>

<!--    <test name="Bank Tfaxot Android">-->
<!--        <parameter name="UDID_phone" value="192.168.1.21:5555"></parameter>-->
<!--        <parameter name="appPackage" value="com.MizrahiTefahot.nh"></parameter>-->
<!--        <parameter name="appActivity" value="com.MizrahiTefahot.nh.MainActivity"></parameter>-->
<!--        <parameter name="deviceName" value="Redmi 6"></parameter>-->
<!--        <parameter name="select_phone" value="realDevices"></parameter>-->
<!--        <parameter name="path" value="src/test/resources/dataHJason.json"></parameter>-->

<!--        <classes>-->
<!--             <class name="Tests.BankTfahot.BankTfahotPositivLoginsTests"> </class>-->
<!--             <class name="Tests.BankTfahot.BankTfaxotNegativLoginTests"> </class>-->
<!--         </classes>-->

<!--     </test>-->


    <test name="Whats up android">
<!--        <parameter name="UDID_phone" value="192.168.1.16:5555"></parameter>-->
        <parameter name="UDID_phone" value="7bd9500e"></parameter>
        <parameter name="appPackage" value="com.whatsapp"></parameter>
        <parameter name="appActivity" value="com.whatsapp.HomeActivity"></parameter>
        <parameter name="deviceName" value="POCO X3 Pro"></parameter>
        <parameter name="select_phone" value="realDevices"></parameter>
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <parameter name="URL" value="https://www.amazon.com/"></parameter>-->
        <classes>
            <class name="Tests.WhatsUp.WhatsUpTests"> </class>
            <class name="Tests.WhatsUp.SendMessage"> </class>
            <class name="Tests.WhatsUp.WhatsUpSearchTests"> </class>
            <class name="Tests.WhatsUp.VertIcalScrolling"> </class>
        </classes>
    </test>


<!--    <test name="Bank Tfaxot Site">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <parameter name="URL" value="https://www.mizrahi-tefahot.co.il/"></parameter>-->
<!--        <parameter name="select_phone" value="emulators"></parameter>-->
<!--        <parameter name="path" value="src/test/resources/dataHJason.json"></parameter>-->
<!--&lt;!&ndash;    <parameter name="UDID_phone" value="7bd9500e"></parameter>&ndash;&gt;-->
<!--&lt;!&ndash;    <parameter name="appPackage" value="com.whatsapp"></parameter>&ndash;&gt;-->
<!--&lt;!&ndash;    <parameter name="appActivity" value="com.whatsapp.HomeActivity"></parameter>&ndash;&gt;-->
<!--&lt;!&ndash;    <parameter name="deviceName" value="POCO X3 Pro"></parameter>&ndash;&gt;-->

<!--        <classes>-->
<!--           <class name="Tests.BankTfaxotSite.BankTfahotPositivLoginsTests"> </class>-->
<!--           <class name="Tests.BankTfaxotSite.BankTfaxotNegativLoginTests"> </class>-->
<!--        </classes>-->
<!--    </test>-->



 </suite>

































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































